.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  height: 10vh;
  color: #071a52;
}

.board {
  margin-top: 20px;
  position: relative;
  background-color: #001917;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: -8px 9px 3px -2px rgba(0,0,0,0.5);
}

.cell {
  position: absolute;
  border-radius: 20%;
}

.controls {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button {
  width: 70px;
  height: 50px;
  margin: 15px 15px 0 15px;
  cursor: pointer;
  border-radius: 10%;
  border-style: solid;
  border-color: #001917;
  background-color: #001917;
  color: #4F918C;
  box-shadow: -8px 9px 3px -2px rgba(0,0,0,0.5);
}
