.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  height: 10vh;
  color: #071a52;
}

.board {
  position: relative;
  background-color: #071a52;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: -8px 9px 3px -2px rgba(0,0,0,0.5);
}

.cell {
  background: #a7ff83;
  position: absolute;
  border-radius: 20%;
}

.controls {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button {
  width: 70px;
  height: 50px;
  margin: 10px 12px 0 0;
  cursor: pointer;
  border-radius: 50%;
  border-style: solid;
  border-color: #071a52;
  background-color: #071a52;
  color: #a7ff83;
  box-shadow: -8px 9px 3px -2px rgba(0,0,0,0.5);
}
