.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dish {
  margin-top: 20px;
  position: relative;
  background-color: #001917;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: -8px 9px 3px -2px rgba(0,0,0,0.5);
  filter:url('#goo');
}

.cell {
  position: absolute;
  border-radius: 25% 45% 35% 50% /
                 50% 35% 45% 25%;
  background-blend-mode: multiply;
  animation:blob-anim cubic-bezier(0.770, 0.000, 0.175, 1.000) 4s alternate infinite;
}

@keyframes blob-anim{
  0%{
    transform:scale(1.1) translate(0,3px);
    border-radius: 25% 45% 35% 50% /
                 50% 35% 45% 25%;
  }
  33%{
    transform:scale(1.0) translate(2px, -2px);
    border-radius: 75% 55% 35% 75% /
                   35% 75% 55% 45%;
  }
  66%{
    transform:scale(1.3) translate(-3px, 1px);
    border-radius: 25% 45% 35% 50% /
                 50% 35% 45% 25%;
  }
  94%{
    transform:scale(1.2) translate(1,-2px);
    border-radius: 75% 25% 75% 25% /
                   25% 75% 25% 75%;
  }
}

.controls {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button {
  width: 80px;
  height: 50px;
  margin: 15px 15px 0 15px;
  cursor: pointer;
  border-radius: 10%;
  border-style: solid;
  border-color: #001917;
  background-color: #001917;
  color: #4F918C;
  box-shadow: -8px 9px 3px -2px rgba(0,0,0,0.5);
  font-family: "Orbitron", sans-serif;
  font-weight: bold;

}
